Repository MicrosoftDocs/PowerShell-Docs, pull requests merged in 2018-07, with the labels that each got.

#2650 Fix parameter set names/syntax for New-PSSession
  reference/6/Microsoft.PowerShell.Core/New-PSSession.md
Labels: Area-Cmdlets-Core, reference

#2474 Update configDataCredentials.md
  dsc/configDataCredentials.md
Labels: do-not-merge

#2676 update registration of MSFT repo using .deb pkg
  reference/docs-conceptual/setup/Installing-PowerShell-Core-on-Linux.md
Labels: vNext-docs
