Repository MicrosoftDocs/PowerShell-Docs, pull requests merged in 2020-10, with the labels that each got.

#6722 Rename 'PredictionColor' to 'InlinePredictionColor'
  reference/7.1/PSReadLine/Set-PSReadLineOption.md
Labels: psreadline

#6755 Fixes #6754 - add info for PSSubsystemPluginModel
  reference/7.1/Microsoft.PowerShell.Core/Get-PSSubsystem.md
  reference/docs-conceptual/learn/experimental-features.md
Labels: experimental

#6775 5330 guide to debugging csharp modules in VS Code
  reference/docs-conceptual/dev-cross-plat/Writing-Portable-Modules.md
  reference/docs-conceptual/dev-cross-plat/vscode/media/using-vscode-for-debugging-compiled-cmdlets/add-configuration-dialog.png
  reference/docs-conceptual/dev-cross-plat/vscode/media/using-vscode-for-debugging-compiled-cmdlets/configure-default-build-task.png
  reference/docs-conceptual/dev-cross-plat/vscode/media/using-vscode-for-debugging-compiled-cmdlets/invoke-the-cmdlet.png
  reference/docs-conceptual/dev-cross-plat/vscode/media/using-vscode-for-debugging-compiled-cmdlets/select-launch-configuration.png
  reference/docs-conceptual/dev-cross-plat/vscode/media/using-vscode-for-debugging-compiled-cmdlets/set-breakpoint.png
  reference/docs-conceptual/dev-cross-plat/vscode/media/using-vscode-for-debugging-compiled-cmdlets/stopped-at-breakpoint.png
  reference/docs-conceptual/dev-cross-plat/vscode/using-vscode-for-debugging-compiled-cmdlets.md
Labels: hacktoberfest-accepted
